- question.answers.each do |answer|
  %div{data: {answer: answer.id}}
    %p{data: {answer_body_for_id: answer.id}}= answer.body

    - if can? :edit, answer
      = button_tag 'Edit', type: 'button', data: {answer_edit_button_for_id: answer.id, edit_value: 'Edit', cancel_value: 'Cancel'}, class: 'btn btn-default btn-xs'

      = form_for [question, answer], html: {role: 'form', class: 'form-horizontal', style: 'display:none;', data: {answer_edit_form_for_id: answer.id}}, remote: true do |f|
        .error-messages

        .form-group
          = f.text_area :body, class: 'form-control', value: answer.body

        .form-group
          = f.submit class: 'btn btn-primary'