.row.question{data: {question: question.id}}
  .vote.col-md-1

  .col-md-11
    = render partial: 'questions/readonly_content', locals: {question: question}

    - if can? :edit, question
      = render partial: 'questions/editable_content', locals: {question: question}

    - if can? :edit, question
      = button_tag 'Edit', type: 'button', data: {edit_button: '', edit_value: 'Edit', cancel_value: 'Cancel'}, class: 'btn btn-default btn-xs'