%div{data: {readonly_content: ''}}
  %h2.question-title{data: {title: ''}}= question.title
  %p.question-body{data: {body: ''}}= question.body
  - question.attachments.each do |attachment|
    %p= link_to attachment.file.file.identifier, attachment.file.url