.row.question{data: {question: question.id}}
  .col-md-1
    = render partial: 'votings/buttons', locals: {votable: question}

  .col-md-11
    = render partial: 'questions/readonly_content', locals: {question: question}