= form_for [comment.commentable, comment], html: {role: 'form', class: 'form-horizontal', data: {type: :json}}, remote: true do |f|
  .error-messages

  .form-group
    = f.text_area :body, class: 'form-control', data: {body: ''}, value: comment.body

  .form-group
    = f.submit class: 'btn btn-primary btn-sm'