.row
  .answers-list.col-md-12{data: {answers_list: ''}}
    - question.answers.each do |answer|
      - unless answer.new_record?
        - if can? :edit, answer
          = render partial: 'answers/editable_answer_container', locals: {answer: answer}
        - else
          = render partial: 'answers/readonly_answer_container', locals: {answer: answer}