.answer-container{data: {answer_container: ''}}
  = render partial: 'answers/readonly_answer', locals: {answer: answer}
  = render partial: 'comments/comments_container', locals: {commentable: answer}